{% load static %}
<!doctype html>
<html lang='ja'>
    <head>
        <meta charset='utf-8'>
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'hello/css/style.css' %}" />
    </head>
    <body>
        <h1>{{ title }}</h1>
        <p>{{ msg }}</p>
        <form action="{% url 'add_user' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="登録">
        </form>
        <p><a href="{% url goto %}">{{ goto }}</a></p>
    </body>
</html>
