{% load static %}
<!doctype html>
<html lang='ja'>
    <head>
        <meta charset='utf-8'>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="{% static 'hello/css/style.css' %}" />
    </head>
    <body>
        <h1>{{ title }}</h1>
        <p>{{ data }}</p>
        <p>{{ mesg }}</p>
        <p>セッションID:{{ session }}</p>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="ログイン">
        </form>
        <p><a href="{% url goto %}">{{ goto }}</a></p>
    </body>
</html>


